<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add BuddyInfo to AddressBook</h1>
    <form th:action="@{/addBuddyToAddressBook}" method="post">
        <label for="addressBookId">Address Book ID:</label>
        <input type="text" id="addressBookId" name="addressBookId" required>
        <br>
        <label for="buddyId">Buddy Info ID:</label>
        <input type="text" id="buddyId" name="buddyId" required>
        <br>
        <button type="submit">Add Buddy to Address Book</button>
    </form>
</body>
</html>