<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script th:src="@{/js/ajax_functions.js}"></script>
    <style>
        th {
            border: solid 2px black;
            padding: 5px 5px;
            background-color: lightblue;
        }
        td {
            border: solid 1px black;
            padding: 2px 2px;
            background-color: lightgreen;
        }
    </style>
</head>
<body>
    <h1>Address Book List</h1>
    <table>
        <thead>
        <tr>
            <th>Address Book ID</th>
            <th>Buddy ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="addressBook : ${addressBookList}">
            <tr>
                <td th:text="${addressBook.id}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <th:block th:each="buddy : ${addressBook.buddyList}">
                <tr>
                    <td></td>
                    <td th:text="${buddy.id}"></td>
                    <td th:text="${buddy.name}"></td>
                    <td th:text="${buddy.address}"></td>
                    <td th:text="${buddy.phoneNumber}"></td>
                </tr>
            </th:block>
        </th:block>
        </tbody>
    </table>

    <h1>Buddies List</h1>
    <table>
        <thead>
        <tr>
            <th>Buddy ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="buddyObj : ${buddiesList}">
            <tr>
                <td th:text="${buddyObj.id}"></td>
                <td th:text="${buddyObj.name}"></td>
                <td th:text="${buddyObj.address}"></td>
                <td th:text="${buddyObj.phoneNumber}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <h1>Commands</h1>
    <a href="/createBookUI" id="createBookLink">Create an AddressBook</a>
    <br><br><a href="/createBuddyUI" id="createBuddyLink">Create a BuddyInfo</a>
    <br><br><a href="/addBuddyToAddressBook" id="addBuddyToBookLink">Add BuddyInfo to AddressBook</a>
</body>
</html>