<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
        <span>List of Buddies</span>
    </p>

    <div th:if="${ not#lists.isEmpty(buddyweb)}">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
            <tr th:each="buddy : ${buddyweb}">
                <td th:text="${buddy.id}"></td>
                <td th:text="${buddy.name}"></td>
                <td th:text="${buddy.address}"></td>
                <td th:text="${buddy.phoneNumber}"></td>
            </tr>
        </table>
    </div>
</body>
</html>